{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <br>
<div class="col-sm-10 offset-sm-1">
      <h3><font  color="#3385FF">About Us</font></h3>
      <p><hr/></p>
      <div>
        <p><font size="4"><strong>Uwindsor Turk</strong> (University of Windsor Turk) is a crowdsourcing platform that makes it easier for individual computer science student and business to outsource their processes and jobs to distribute workforce who can do their work virtually, including anything from collecting projects validation and researches to more tasks, such as library management system, grocery stores system and more. </font></p>
        <p><font size="4"><strong>Uwindsor Turk</strong> allows individuals and companies to harness the collective intelligence, skills, and ideas from all computer science students in University of Windsor. It is convenient for our clients and students to accelerate the software development process. </font></p>
        <br>
      </div>
      <br>
      <br>
      <br>
 			<h3><font  color="#3385FF">Features</font></h3>
 			<p><hr/></p>
 			<div>
        <h5><strong>--Easily start a development for software projects--</strong></h5>
 				<p><font size="4">Uwindsor Turk provides a platform to all project requesters, registered clients, to start a software project and choose developers who are qualified from the University of Windsor.</font></p>
 				<br>
        <h5><strong>--Cheaper cost for software development--</strong></h5>
        <p><font size="4">Developers in our system are build up by not only undergraduate, but also master and PhD students majored under Department of Computer Sciencewhich from University of Windsor. In contrast with traditional commercial software developers, the Uwindsor Turk gives a better budget and a more specialized development team.</font></p>
        <br>
        <h5><strong>--A new solution for outsourcing projects--</strong></h5>
        <p><font size="4">Every independent developer communicate through the Uwindsor Turk platform. By using our system, gathering requirements for projects and managing software development process are much easier. Clients are able to choose the most qualified developer among all applicants by viewing the details of their personal experience in software development.</font></p>
 				<br>
 				<br>
 				<br>
 			</div>
 		</div>
{% endblock content %}