{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="container">
    <h2>Login Form</h2>
    <form method="POST" id="add_form" action="adminlogin" >
      <div class="form-group">
        <label >User Name</label>
        <div class="input"><input type="text" name="username" required="required"></div>
        <div class="clear"></div>
    </div>
    <div class="form-group">
        <label >Password</label>
        <div class="input"><input type="password" name="password" required="required"></div>
        <div class="clear"></div>
    </div>
    <div class="form-group">
      <label></label>
        <div class="submit">
          <button type="submit" class="btn-primary">Login</button>
        </div>
        <div class="clear"></div> </div>
</form>
  </div>


{#<style>#}
{#.login-container{#}
{#    /*margin-top: 1%;*/#}
{#    /*margin-bottom: 2%;*/#}
{#}#}
{#.login-form-1{#}
{#    padding: 5%;#}
{#    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.4), 0 9px 26px 0 rgba(0, 0, 0, 0.55);#}
{#}#}
{#.login-form-1 h2{#}
{#    text-align: center;#}
{#    color: #333;#}
{#}#}
{##}
{#.login-container form{#}
{#    padding: 10%;#}
{#}#}
{#.btnSubmit#}
{#{#}
{#    width: 50%;#}
{#    border-radius: 1rem;#}
{#    padding: 1.5%;#}
{#    margin-left:80px;#}
{#    border: none;#}
{#    cursor: pointer;#}
{#}#}
{##}
{#.login-form-1 .input{#}
{#    font-weight: 900;#}
{#    color: #fff;#}
{#    background-color: #0062cc;#}
{#}#}
{#.login-form-1 .Register{#}
{#    color: #0062cc;#}
{#    font-weight: 600;#}
{#    text-decoration: none;#}
{#    margin-left:130px;#}
{#}#}
{#.login-form-1 .ForgetPwd{#}
{#    color: #0062cc;#}
{#    font-weight: 600;#}
{#    text-decoration: none;#}
{#    margin-left:100px;#}
{#}#}
{##}
{#</style>#}
{#<br>#}
{#    <br>#}
{#<div class="container login-container">#}
{#            <div class="row ">#}
{#                <div class="col-md-7">#}
{#                      <a href="http://www.uwindsor.ca/" target="_blank">#}
{#                        <img src={% static 'images/uwin1.png' %} alt="University of Windsor" width="700" height="350">#}
{#                      </a>#}
{#                </div>#}
{##}
{#                <div class="col-md-5 login-form-1" >#}
{#                    <h2>Admin Login</h2>#}
{#                    <form class="site-form" action={% url 'adminlogin' %} method="post">#}
{#                        {% csrf_token %}#}
{#                        {{ form|crispy }}#}
{#                        <br>#}
{#                        <input type="submit" value="Login">#}
{#                    </form>#}
{#                </div>#}
{#            </div>#}
{#</div>#}





{#                <div class="col-md-5 login-form-1">#}
{#                    <h2> Welcome Admin </h2>#}
{#                    <form>#}
{#                        <div class="form-group">#}
{#                            <input type="text" class="form-control" placeholder="Your Email *" value="" />#}
{#                        </div>#}
{#                        <div class="form-group">#}
{#                            <input type="password" class="form-control" placeholder="Your Password *" value="" />#}
{#                        </div>#}
{#                        <div class="form-group">#}
{#                            <button type="submit" class="btnSubmit">LOGIN</button>#}
{#                        </div>#}
{#                        <div class="form-group">#}
{#                           <a href={% url 'register' %} class="Register">SignUp</a>#}
{#                        </div>#}
{#                        <div class="form-group">#}
{#                            <a href="#" class="ForgetPwd">Forget Password?</a>#}
{#                        </div>#}
{#                    </form>#}
{#                </div>#}
{#            </div>#}
{#  </div>#}

    <br>
    <br>
{% endblock content %}