{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block content %}
    <style>
    .img_long img {
    width: 100%;
    height: 100%;
  }

    .btn {
      border: #667ac2;
      background-color: #667ac2;
    }
    .button{
            width: 13rem;
            font-size: 0.9rem;
            padding: 1rem;
        }
    .page-link {
      color: white;
      background-color: #343a40;
    }

    .list-group-item:hover {
      background-color: #d1d1e0;
    }
  </style>

   <div class="row" style="margin-top:50px">
  <div class="col-sm-4">
  	<div class="card col-sm-8">
  		<br>
    	<img class="card-img-top" src={% static 'images/img_avatar.png' %} alt="Card image" style="width:100%">
    		<div class="card-body" id="inform">
      		<h4 class="card-title">Username: {{ request.user.username }}</h4>
          <a href="{% url 'createproject' %}" class="btn btn-primary button">Create New Project</a>
          <br>
          <br>
      		<a href="{% url 'clientdetail' %}" class="btn btn-primary button">View Profile</a>
    		</div>
  	</div>
  	<div class="card col-sm-8">
  		<div class="card-body">
    		<h4 class="card-title">Message Box</h4>
    		<button type="button" class="btn btn-primary">Message Reply <span class="badge badge-light">4</span></button>
  		</div>
  	</div>
  </div>

<div class="col-sm-8">
    <div class="col-sm-12 ">
    		<br>
        <div class="img_long">
    		  <a href="#"><img src={% static 'images/shutterstock.jpg' %}></a>
        </div>
        <hr style="filter: progid:dximagetransform.microsoft.glow(color="#987cb9,strength=10) width="100%" color="#987cb9" size=1>

       <ul class="nav nav-tabs" role="tablist" style="border-color: white">
        <li class="nav-item">
          <a class="nav-link active" style="border-color: white"><font size="4">Posted Projects</font></a>
        </li>
      </ul>

        <div class="card card-body" style="margin-bottom: 2rem">
            <table class="table table-hover table-responsive">
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Status</th>
                    <th>Total work hours</th>
                    <th>Points per hour</th>
                </tr>

                {% for i in projects %}
                    <tr>
                        <td>{{ i.title }}</td>
                        <td>{{ i.description }}</td>
                        <td>{{ i.start_date }}</td>
                        <td>{{ i.end_date }}</td>
                        <td>{{ i.status }}</td>
                        <td>{{ i.total_work_hours }}</td>
                        <td>{{ i.point_per_hour }}</td>
                        <td>
                            <a class ="btn btn-danger" href="{% url 'deleteproject' i.id %}">DELETE</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>

            <ul class="nav nav-tabs" role="tablist" style="border-color: white">
        <li class="nav-item">
          <a class="nav-link active" style="border-color: white"><font size="4">Projects In Progress</font></a>
        </li>
      </ul>

        <div class="card card-body" style="margin-bottom: 2rem">
            <table class="table table-hover table-responsive">
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Status</th>
                    <th>Total work hours</th>
                    <th>Points per hour</th>
                </tr>

                {% for i in approved_projects %}
                    <tr>
                        <td>{{ i.title }}</td>
                        <td>{{ i.description }}</td>
                        <td>{{ i.start_date }}</td>
                        <td>{{ i.end_date }}</td>
                        <td>{{ i.status }}</td>
                        <td>{{ i.total_work_hours }}</td>
                        <td>{{ i.point_per_hour }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    <br>
  </div>
	</div>
</div>
<script>

  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
  });


  $('#allprojects').click(function (e) {
    window.location.href='clientdash.html';
  });

</script>
{% endblock content %}