{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load user_tags %}
{% block content %}
    <script>
        $(document).ready(function(){
            $("#myModal").modal('show');
        });
    </script>
                    <div id="myModal" class="modal fade" role="dialog">
                      <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                              <h4 class="modal-title">Delete {{ project.title  }}</h4>
                            {% if request.user|has_group:"admin" %}
                                <a href="{% url 'admindash' %}"><button type="button" class="close">&times;</button></a>
                            {% else %}
                                 <a href="{% url 'clientdash' %}"><button type="button" class="close">&times;</button></a>
                            {% endif %}

                          </div>
                          <div class="modal-body">
                            <p>Are you sure you want to delete {{ project.title }} ?</p>
                          </div>
                          <div class="modal-footer">
                              <form action="{% url 'deleteproject' project.id %}" method="POST">
                                  {% csrf_token %}
                                <input class="btn btn-danger" type="submit" name="CONFIRM">
                              </form>
                                {% if request.user|has_group:"admin" %}
                                  <a class = "btn btn-info" href="{% url 'admindash' %}">
                                      Cancel
                                  </a>
                                {% else %}
                                    <a class = "btn btn-info" href="{% url 'clientdash' %}">
                                      Cancel
                                  </a>
                                {% endif %}
                          </div>
                        </div>

                      </div>
                    </div>

    {% block footer %}

    {% endblock footer%}
{% endblock content %}