{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <br>
<div class="col-sm-8 offset-sm-2">
 <div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active" style="background-color: #7d7da8"></li>
    <li data-target="#demo" data-slide-to="1" style="background-color: #7d7da8"></li>
    <li data-target="#demo" data-slide-to="2" style="background-color: #7d7da8"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <a href="http://www.uwindsor.ca/" target="_blank"><img src={% static  'images/uwin1.png' %} alt="University of Windsor" width="1100" height="500"></a>
      <div class="carousel-caption">
        <strong><font color="gray">Here</font> <font color="gray">Is</font> <font color="gray">More!</font></strong>
      </div>
    </div>
    <div class="carousel-item">
      <a href="http://learn.uwindsor.ca/future-students" target="_blank"><img src={% static  'images/uwin2.png' %} alt="Road to Success" width="1100" height="500"></a>
      <div class="top-left">
        <img style="width: 55%; height: 55%;" src="http://images.e.uwindsor.ca/Web/UniversityofWindsor/{21abc3e9-d8c0-4e1f-8d4f-c34619db8ecb}_discover-the-opportunities-script-white.png" alt="Discover the opportunities!">
        <br>
        <font style="color: #FFCE00; text-shadow: 0px 1px 5px #464646;"><strong>YOUR FUTURE</strong></font><br>
        <font style="color: #FFCE00; text-shadow: 0px 1px 5px #464646;"><strong>MADE IN</strong></font><br>
        <font style="color: #FFCE00; text-shadow: 0px 1px 5px #464646;"><strong>WINDSOR</strong></font>
      </div>
    </div>
    <div class="carousel-item">
      <a href="http://ask.uwindsor.ca/" target="_blank"><img src={% static  'images/uwin3.png' %} alt="Cheers" width="1100" height="500"></a>
      <div class="top-center">
        <h3><strong><font style="color: #FFCE00; font-size: 50px;">ask.</font><font color="white" style=" font-size: 50px;">Uwindsor</font></strong></h3>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
 </div>
<br>
  <p><hr/><p>
  <p><font size="4"><strong>Uwindsor Turk</strong> (University of Windsor Turk) is a crowdsourcing platform that makes it easier for individual computer science student and business to outsource their processes and jobs to distribute workforce who can do their work virtually, including anything from collecting projects validation and researches to more tasks, such as library management system, grocery stores system and more. </font></p>
  <p><font size="4"><strong>Uwindsor Turk</strong> allows individuals and companies to harness the collective intelligence, skills, and ideas from all computer science students in University of Windsor. It is convenient for our clients and students to accelerate the software development process. </font></p>
  <p><hr/><p>
  <br>
  <h4>Client | <small>What's next?</small><h4>
  <div class="card-deck">
    <div class="card bg-light">
      <div class="card-body text-center">
	<h4>Get Started.</h4>
        <p class="card-text"><hr/><font class="cos">- Register as one of our clients</font></p>
        <p class="card-text"><hr/><font class="cos" size="4" color="#7d7da8">- Create your first project</font></p>
        <p class="card-text"><hr/><font class="cos" size="4" color="#7d7da8">- View and edit all your existing projects</font></p>
      </div>
    </div>
    <div class="card bg-light">
      <div class="card-body text-center">
	<h4>What's next?</h4>
        <p class="card-text"><hr/><font class="cos" size="4" color="#7d7da8">- Submit your project to our administrator for approval</font></p>
        <p class="card-text"><hr/><font class="cos" size="4" color="#7d7da8">- Wait until your project is approved</font></p>
        <p class="card-text"><hr/><font class="cos" size="4" color="#7d7da8">- Post your project to public (our developers)</font></p>
      </div>
    </div>
    <div class="card bg-light">
      <div class="card-body text-center">
	<h4>Choose developers!</h4>
        <p class="card-text"><hr/><font class="cos" size="4" color="#7d7da8">- Wait for new applicants</font></p>
        <p class="card-text"><hr/><font class="cos" size="4" color="#7d7da8">- Choose one from the applicants for a project</font></p>
        <p class="card-text"><hr/><font class="cos" size="4" color="#7d7da8">- Claim the finished project and approve it</font></p>
      </div>
    </div>
  </div>
  <br>
  <h4>Developer | <small>What's next?</small><h4>
  <div class="card-deck">
    <div class="card bg-light">
      <div class="card-body text-center">
	<h4>Get Started.</h4>
        <p class="card-text"><hr/><font class="cos" size="4" color="#7d7da8">- Register as one of our developers (students with majors under Department of Computer Science only)</font></p>
        <p class="card-text"><hr/><font size="4" color="#7d7da8">- View all posted projects</font></p>
        <p class="card-text"><hr/><font size="4" color="#7d7da8">- Apply for one or more projects that you want to accomplish</font></p>
      </div>
    </div>
    <div class="card bg-light">
      <div class="card-body text-center">
	<h4>What's next?</h4>
        <p class="card-text"><hr/><font size="4" color="#7d7da8">- Wait for clients to approve your applications</font></p>
        <p class="card-text"><hr/><font size="4" color="#7d7da8">- Start working on your projects once approved</font></p>
        <p class="card-text"><hr/><font size="4" color="#7d7da8">- Contact clients by using message box for any questions regrading to the projects</font></p>
      </div>
    </div>
    <div class="card bg-light">
      <div class="card-body text-center">
	<h4>Nicely Done!</h4>
        <p class="card-text"><hr/><font size="4" color="#7d7da8">- Submit your finished projects to clients</font></p>
        <p class="card-text"><hr/><font size="4" color="#7d7da8">- Wait clients' approval of your work</font></p>
        <p class="card-text"><hr/><font size="4" color="#7d7da8">- Claim your rewards</font></p>
      </div>
    </div>
  </div>
 </div>
{% endblock content %}