{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block content %}

    <style>
.login-container{
    margin-top: 1%;
    margin-bottom: 2%;
}
.login-form-1{
    padding: 2%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.4), 0 9px 26px 0 rgba(0, 0, 0, 0.55);
}
.login-form-1 h2{
    text-align: center;
    color: #333;
}

.login-container form{
    padding: 10%;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    margin-left:100px;
    border: none;
    cursor: pointer;
}

.login-form-1 .btnSubmit{
    font-weight: 900;
    color: #fff;
    background-color: #0062cc;
}
.login-form-1 .Register{
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
    margin-left:150px;
}
.login-form-1 .ForgetPwd{
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
    {#margin-left:120px;#}
}
    .errors{
        color: red;
    }


</style>
    <br>
    <br>
<div class="container login-container">
            <div class="row ">
                <div class="col-md-6">
                      <a href="http://www.uwindsor.ca/" target="_blank">
                        <img src={% static 'images/uwin4.png' %} alt="University of Windsor" width="500" height="250">
                      </a>
                </div>
                <div class="col-md-6 login-form-1">
                    <h2> Register New Client</h2>
                    <form action='' method="POST">
                        {% csrf_token %}
                        {% for non_field_error in form.non_field_errors %}
                            <div class="alert alert-danger">{{ non_field_errors }}</div>
                        {% endfor %}
                        {% for field in form %}
                            <div>
                                <div style="margin-bottom: 1rem">{{ field| as_crispy_field }} </div>
                            </div>
                        {% endfor %}




{#                        <div>#}
{#                            {% for field in form %}#}
{#                                {% for error in field.errors %}#}
{#                                    <p style="color: red">{{ error}}</p>#}
{#                                {% endfor %}#}
{#                            {% endfor %}#}
{#                        </div>#}

{#                        <div class="errors">#}
{#                            {% if form.errors %}#}
{#                                {{ form.error_messages }}#}
{#                            {% endif %}#}
{#                        </div>#}
{#                        <div class="form-group">#}
{#                            <input type="text" name ="username" class="form-control" placeholder="Your Username *" value="" />#}
{#                            {% for error in username.errors %}#}
{#                                    <p style="color: red">{{ error}}</p>#}
{#                            {% endfor %}#}
{#                        </div>#}
{#                        <div class="form-group">#}
{#                            <input type="text" name ="email" class="form-control" placeholder="Your Email*" value="" />#}
{#                        </div>#}
{#                        <div class="form-group">#}
{#                            <input type="text" name ="first_name" class="form-control" placeholder="First Name*" value="" />#}
{#                        </div>#}
{#                        <div class="form-group">#}
{#                            <input type="text" name ="last_name" class="form-control" placeholder="Last Name*" value="" />#}
{#                        </div>#}
{#                        <div class="form-group">#}
{#                            <input type="password" name ="password1" class="form-control" placeholder="Password*" value="" />#}
{#                        </div>#}
{#                        <div class="form-group">#}
{#                            <input type="password" name ="password2" class="form-control" placeholder="Confirm Password*" value="" />#}
{#                        </div>#}
                        <div class="form-group">
                            <button type="submit" class="btnSubmit">Register</button>
                        </div>

                        <div>
                         <h5 style="margin-left: 30px;text-align: center"> Have an account?  <a href={% url 'login' %} class="ForgetPwd">Login </a></h5>
                        </div>

                    </form>

                </div>
            </div>
  </div>
    <br>
    <br>
{% endblock content %}