{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block content %}

    <style>
        .heading{
            margin-bottom: 1rem;
            color: darkblue;
        }

        .userdiaplay{
            margin-bottom: 0.5rem;
            background-color: #93C54B;
            text-align: center;
            height: 2rem;
            font-size: 1.3rem;
            font-weight: bold ;
        }
    </style>

    <div class="row" style="margin-top:80px; margin-bottom: 80px">
    <div class="col-sm-8 offset-sm-2">
    	<div class="card" style="background-color:lavender;">
      		<div class="col-sm-10 offset-sm-1">
              <br><br>
            <a href={% url 'workerdash' %}>
            <button class="btn btn-sm btn-primary float-right" style="font-size:20px">Back <i class="material-icons" style="font-size:18px"></i></button>
          </a>
                <div class="heading">
                    <h3>Worker Approval Application </h3>
                </div>

                {% for message in messages %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                            <div class="alert alert-success">{{ message }}</div>
                        {% endif %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                            <div class="alert alert-danger">{{ message }}</div>
                        {% endif %}
                {% endfor %}
              <form action="" method="POST">
                  {% csrf_token %}
                  <div class="userdiaplay">
                      Username : {{ user }}
                  </div>
                  {{ form.phone_number| as_crispy_field }}
                  {{ form.application_date| as_crispy_field }}
                  <div style = "margin-bottom: 2rem">
                        <button style="font-size:15px" type="submit" class="btn btn-lg btn-primary">APPLY</button>
                    </div>
              </form>
            </div>
        </div>
    </div>
    </div>
{% endblock content %}