{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block content %}
    <style>
        .button{
            width: 10rem;
            font-size: 0.9rem;
            padding: 1rem;
        }
    </style>

    <div class="row" style="margin-top:80px; margin-bottom:80px ">
  <div class="col-sm-3">
  <div class="card col-sm-8 offset-sm-2">
    <img class="card-img-top" src={% static 'images/img_avatar.png' %} alt="Card image" style="width:100%">
    <div class="card-body" id="inform">
    </div>
  </div>

  <div class="card col-sm-8 offset-sm-2">
  <div style="padding: 0.7rem">
    <a href="{% url 'workerapproval' %}" class="btn btn-primary button">Apply for Approval</a><br><br>
    <a href="{% url 'workerdetail' %}" class="btn btn-primary button">View Profile</a>
  </div>
</div>
  </div>


  <div class="col-sm-9">
    <div class="col-sm-11 ">
      <p style="font-size: 1.5rem"><strong>New Available Projects</strong></p>
      <hr style="filter: progid:dximagetransform.microsoft.glow(color="#987cb9",strength=10)" width="100%" color="#987cb9" size=1>

      <div class="card card-body" style="margin-bottom: 2rem">
            <table class="table table-hover">
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Status</th>
                    <th>Total work hours</th>
                    <th>Points per hour</th>
                    <th>Request for Project</th>

                </tr>

                {% for i in projects %}
                    <tr>
                        <td>{{ i.title }}</td>
                        <td>{{ i.description }}</td>
                        <td>{{ i.start_date }}</td>
                        <td>{{ i.end_date }}</td>
                        <td>{{ i.status }}</td>
                        <td>{{ i.total_work_hours }}</td>
                        <td>{{ i.point_per_hour }}</td>
                        <td>
                            <a class ="btn btn-success" href="">Request</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>


        </div>

      <br>
      <div class="btn-group">
        <button type="button" class="btn btn-primary" id="findmore">Find New</button>
        <button type="button" class="btn btn-primary" id="allprojects">See All</button>
      </div>

      <hr style="filter: progid:dximagetransform.microsoft.glow(color="#987cb9",strength=10)" width="100%" color="#987cb9" size=1>
      <p style="font-size: 1.5rem"><strong>My Projects</strong></p>


</div>
</div>
</div>
{% endblock content %}